body{
    margin: 0;
    background-color: white;
}
a{
    text-decoration: none;
    color: white;
}
#navbar{
    width: 100%;
    height: 30px;
    background-color: rgb(29, 29, 29);
}
.navbar-items{
    width:10%;
    height: 25px;
    margin-left: 5px;
    padding-top: 5px;
    background-color: indigo;
    float: left;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.navbar-items:hover{
    background-color: gray;
    color: black;
     
}
h1 {
    text-align: center;
    color: black;
    padding-top: 5px;;
    background-color: darkorange;
}
h2{
    text-align: center;
    color: black;
  
}
h3{
    text-align: center;
    color: black;
}
p{
    text-align: center;
    color: black 
}
#au{
    text-align: left;
}

#team{
    width: 100%;
    height: 380px;
  
}
.tm{
    width: 24%;
    height: 370px;
    background-color: gray;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    box-shadow: 5px 10px 2px 5px  gray;
}

#task{
    width: 100%;
    height: 490px;
    
}

.tk{
    width: 32%;
    height: 480px;
    background-color: gray;
    float: left;
    margin-left: 0.7%;
    margin-right: 0.5%;
   
    box-shadow: 5px 10px 2px 5px gray;
    
}
#who{
    padding-top: 5px;
    background-color:gray ;
}
#cont{
    background-color: gray;
    
}
#footer{
    width: 100%;
    height: 70px;
    background-color:rgb(29, 29, 29);
    position: sticky;
    text-align: center;
    color: white;
    padding-top: 20px;
}

